.container {
  display: flex;
  flex-direction: column;
}

.innercontainer {
  display: flex;
  width: 100%;
  align-items: space-around;
  justify-content: space-around;
}

.containerone {
  width: 45%;
  border-radius: 25px;
  box-shadow: violet;
  border: 2;
}


.dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #C4D7E7;
    padding: 5rem;
    align-items: center;
}