.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: screen;
}
.text {
  color: #004890;
}

.buttontext {
  color: white;
  font-weight: 600;
}

.bluecontainer {
  background-color: #C4D7E7;
}

.whitecontainer {
  background-color: #ffffff;
  margin : 2rem;
  width: 22rem;
  padding: 2rem;
  border-radius: 25px;
}

.imagecontainer {
  display: flex;
}

.containerone {
  width: 40% ;
}

.containertwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90% ;
}

.detail {
  margin-bottom: 2rem;
}

.imagetext {
  width: 6rem;
  font-size: smaller; 
  margin-left: 1rem; 
}

.imageone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.innercontainer {
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
}

.images {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-around;
  width: 100%;
}

.bar {
 width: 13rem;
 display: flex;
 justify-content: center;
 background-color: #004890;
 cursor: pointer;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
